<form [formGroup]="requestForm" novalidate (ngSubmit)="onSubmit()" *ngIf="request">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{request.zipFileName}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Es Ref Number" formControlName="esRef">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Status" formControlName="status">
              <mat-option *ngFor="let s of statuses" [value]="s.v">
                {{s.t}}
              </mat-option>
            </mat-select>            
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Phase" formControlName="phase">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Insured Name" formControlName="insuredName">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
           <mat-form-field>
              <input matInput [matDatepicker]="picker1" placeholder="Choose a date" formControlName="dateOfLoss">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
             <input matInput [matDatepicker]="picker2" placeholder="Choose a date" formControlName="dateOfService">
             <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
             <mat-datepicker #picker2></mat-datepicker>
           </mat-form-field>
       </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
