<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="deatilsFileName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Details File</th>
      <td mat-cell *matCellDef="let row">
        <a href="" (click)="onDetailsLinkCLick(row.deatilsFileName)">{{row.deatilsFileName}}</a>        
      </td>
    </ng-container>

    <ng-container matColumnDef="zipFileName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Zip File</th>
      <td mat-cell *matCellDef="let row">
        <a [routerLink]="[ '/records', {id:row.id} ]">{{row.zipFileName}}</a>
        
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row">{{row.status}}</td>
    </ng-container>


    <ng-container matColumnDef="esRef">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Es Ref Number</th>
      <td mat-cell *matCellDef="let row">{{row.esRef}}</td>
    </ng-container>

    <ng-container matColumnDef="requestPack">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Request Pack</th>
        <td mat-cell *matCellDef="let row">
          <button mat-button>Generate pack</button>
        </td>
      </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="0"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
